In [1]:
import pandas as pd

In [2]:
import os

In [3]:
excel_files = [file for file in os.listdir() if '.xlsx' in file]
excel_files

['p1.xlsx',
 'o1.xlsx',
 'rf1.xlsx',
 'p1r.xlsx',
 'r1.xlsx',
 'm1.xlsx',
 '.~lock.c1.xlsx#',
 'c1.xlsx']

In [4]:
df_m1 = pd.read_excel('m1.xlsx', skiprows=1)
df_m1.sample(n=2)

,Account,Account Title,Organization,Budget\nActivity,Budget Activity Title,Budget\nSub\nActivity,Budget Sub Activity Title,Add/\nNon-Add,Include\nin\nTOA,FY 2020\nActual*,FY 2021\nEnacted**,FY 2022\nRequest,Classification
16,2010A,"Military Personnel, Army",ARMY,2.0,Pay and Allowances of Enlisted,95.0,Allowances,Add,Y,762324.0,748238.0,756814.0,U
184,3500F,"Military Personnel, Air Force",AF,1.0,Pay and Allowances of Officers,35.0,Incentive Pays,Add,Y,361028.0,379467.0,385666.0,U

In [5]:
budget_sum = {}
budget_sum['m1'] = df_m1['FY 2022\nRequest'].sum()

In [6]:
df_o1 = pd.read_excel('o1.xlsx', skiprows=1)
df_o1.sample(n=2)

,Account,Account Title,Organization,Budget\nActivity,Budget Activity Title,AG / BSA,AG / Budget SubActivity (BSA) Title,Line\nNumber,SAG / BLI,SAG / Budget Line Item (BLI) Title,Include\nin\nTOA,FY 2020\nActual*,FY 2021\nEnacted**,FY 2022\nRequest,Classification
72,2080A,"Operation & Maintenance, Army Res",ARMY,4.0,Admin & Srvwd Activities,43,Servicewide Support,160.0,432,Servicewide Communications,Y,13358.0,14256.0,37458.0,U
298,3840F,"Operation & Maintenance, ANG",AF,4.0,Administration And Service-Wide Activities,53,Servicewide Activities,100.0,042J,Recruiting and Advertising,Y,38487.0,45696.0,41764.0,U

In [7]:
budget_sum['o1'] = df_o1['FY 2022\nRequest'].sum()

In [8]:
df_rf1 = pd.read_excel('rf1.xlsx', skiprows=1)
budget_sum['rf1'] = df_rf1['FY 2022\nRequest'].sum()
df_rf1.sample(n=2)

,Account,Account Title,Organization,Budget\nActivity,Budget Activity Title,AG / BSA,AG / Budget SubActivity (BSA) Title,Line\nNumber,SAG / BLI,SAG / Budget Line Item (BLI) Title,FY 2020\nActual*,FY 2021\nEnacted**,FY 2022\nRequest,Classification
18,493004D,"Working Capital Fund, DECA",DECA,1.0,Commissary Resale Stocks,1N,Working Capital Fund Support,10.0,ES11,"Working Capital Fund, DECA",80000.0,0.0,0.0,U
7,4557N,National Defense Sealift Fund,NAVY,2.0,"Operations, Maintenance And Lease",2D,Mobilization Preparedness,60.0,0250,TAH Maintenance,98840.0,0.0,0.0,U

In [9]:
df_p1 = pd.read_excel('p1.xlsx', skiprows=1)
budget_sum['p1'] = df_p1['FY 2022\nRequest\nAmount'].sum()
df_p1.sample(n=2)

,Account,Account Title,Organization,Budget\nActivity,Budget Activity Title,Line\nNumber,BSA,Budget Sub Activity (BSA) Title,Line Item,Line Item Title,Cost\nType,Cost Type Title,Add/\nNon-Add,FY 2020\nActual*\nQuantity,FY 2020\nActual*\nAmount,FY 2021\nEnacted**\nQuantity,FY 2021\nEnacted**\nAmount,FY 2022\nRequest\nQuantity,FY 2022\nRequest\nAmount,Classification
335,1506N,"Aircraft Procurement, Navy",NAVY,1.0,Combat Aircraft,1.0,1.0,Combat Aircraft,0145,F/A-18E/F (Fighter) Hornet,A,Weapon System Cost,Add,24.0,1762774.0,24.0,1778554.0,0.0,87832.0,U
741,1810N,"Other Procurement, Navy",NAVY,5.0,Civil Engineering Support Equip,118.0,1.0,Civil Engineering Support Equipment,6024,Construction & Maintenance Equip,A,Weapon System Cost,Add,0.0,45213.0,0.0,42510.0,0.0,48403.0,U

In [10]:
df_p1r = pd.read_excel('p1r.xlsx', skiprows=1)
budget_sum['p1r'] = df_p1r['FY 2022\nRequest\nAmount'].sum()
df_p1r.sample(n=2)

,Account,Account Title,Organization,Budget\nActivity,Budget Activity Title,BSA,Budget Sub Activity (BSA) Title,Line Item,Line Item Title,Cost\nType,Cost Type Title,FY 2020\nActual*\nQuantity,FY 2020\nActual*\nAmount,FY 2021\nEnacted**\nQuantity,FY 2021\nEnacted**\nAmount,FY 2022\nRequest\nQuantity,FY 2022\nRequest\nAmount,Classification
154,2035A,"Other Procurement, Army",ARMY,2.0,Communications and Electronics Equipment,86.0,Elect Equip - Tactical Surv. (Tac Surv),0245W61990,JOINT BATTLE COMMAND - PLATFORM (JBC-P),T,NATL Guard Equip (MEMO NON ADD),0.0,11505.0,0.0,109732.0,0.0,105462.0,U
129,2035A,"Other Procurement, Army",ARMY,2.0,Communications and Electronics Equipment,18.0,Comm - Satellite Communications,9915BC4120,Global Brdcst Svc - GBS,R,Reserve Equip (MEMO NON ADD),0.0,1000.0,0.0,0.0,0.0,0.0,U

In [11]:
df_r1 = pd.read_excel('r1.xlsx', skiprows=1)
budget_sum['r1'] = df_r1['FY 2022\nRequest'].sum()
df_r1.sample(n=2)

,Account,Account Title,Organization,Budget\nActivity,Budget Activity Title,Line\nNumber,PE / BLI,Program Element / Budget Line Item (BLI) Title,Include\nin\nTOA,FY 2020\nActual*,FY 2021\nEnacted**,FY 2022\nRequest,Classification
280,1319N,"Research, Development, Test & Eval, Navy",NAVY,4.0,Advanced Component Development & Prototypes,46.0,0603563N,Ship Concept Advanced Design,Y,100887.0,131741.0,111590.0,U
1063,0400D,"Research, Development, Test & Eval, DW",OSD,7.0,Operational Systems Development,237.0,0305186D8Z,Policy R&D Programs,Y,6231.0,6291.0,4843.0,U

In [12]:
df_c1 = pd.read_excel('c1.xlsx', skiprows=1)
budget_sum['c1'] = df_c1['     TOA     \n    Amount   '].sum()
df_c1.sample(n=2)

,Account,Treasury\nAgency,Account Short Title,Budget\nActivity,Budget Activity\nShort Title,Organization,State\nCountry,State Country Title,Fiscal\nYear,Facility Category Title,Location Title,Construction\nProject,Construction Project Title,Classification,Auth \n Amount,Auth for \n Appn Amount,Appn \n Amount,TOA \n Amount
126,1205,N,"Mil Con, Navy",1,MAJOR CONST,NAVY,NC,NORTH CAROLINA,2020,Unaccom Personnel Housing Mess Fac,"Camp Lejeune, North Carolina",67001883,Hadnot Point Mess Hall Replacement,U,66023,66023,66023,66023
310,51603,F,DoD BRAC - Air Force,1,DoD BRAC,AF,ZU,WORLDWIDE UNSPECIFIED,2020,Base Realignment & Closure Account V,Unspecified Worldwide Locations,F1400001,DoD BRAC Activities - Air Force,U,110070,110070,110070,110070

In [13]:
sum(budget_sum.values())

737057915.0

In [14]:
budget_sum.items()

dict_items([('m1', 167285095.0), ('o1', 290513329.0), ('rf1', 1902000.0), ('p1', 140247708.0), ('p1r', 5182321.0), ('r1', 113598464.0), ('c1', 18328998)])